

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(168, 139, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.quiz-container{
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(22, 1, 1);
    width: 500px;
    height: 350px;
    background-color: white;
    position: relative;


}
#quiz-question{
    font-size: 2rem;
    padding: 20px ;      /* diffrence between contant and element */
    text-align: center;
}
ul{
    list-style: none;
    margin-left: 30px;
    cursor: pointer;
}
li{
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 5px;
    cursor: pointer;

}
#submit{
    background-color: rgb(112, 83, 8);
    border: none ;
    color: white;
    font-size: 1.2rem;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    hover

}
#submit:hover{
    background-color: rgb(112, 33, 8);
    cursor:pointer
}